name: Build

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    
    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build Cronus/Cronus.sln --configuration Release --no-restore

    - name: UnitTests
      run: dotnet test Cronus/Cronus.Tests/ --no-build --verbosity normal 